a:link, a:visited {
	text-decoration: none;
	background-color: gray;
	text-align: center;
	display: block;
	height: 50px;
	width: 200px;
	color: black;
	border: 5px solid black;

}
a:hover {
	background-color: black;
	color: white;
	font-size: 50px;
}
a:active {
	background-color: yellow;
	color: blue;
}
section div:nth-child(odd){
	background-color: gray;
	color: white;
}
section div:nth-child(odd):hover{
	font-size: 30px;
}
section div:nth-child(even):hover{
	background-color: black;
	color: white;
	font-size: 24px;
}
#a {
	color: blue;

}
.b {
	color: yellow;
}
p {
	color: green;
}
body {
	background-color: rgb(220,179,130);
	font-family: Georgia,serif;
}